@import 'ui/styles/themes.scss';

.textinput-story-main {
  @include with-theme {
    padding: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background: themed('header-background');
    border: 1px solid themed('border');
    width: 100%;
  }
}