@import '../../styles/themes.scss';
@import '../../styles/animations.scss';

@mixin first-element {
  grid-column: 1;

  @media screen and (max-width: 360px) {
    justify-self: center;
  }

  :first-child {
    max-width: 270px;
    max-height: 72px;

    @media screen and (max-width: 550px) {
      max-width: 250px;
    }

    @media screen and (max-width: 480px) {
      max-width: 220px;
    }
  }
}

@mixin burger-menu {
  grid-area: 1 / 1;
  width: fit-content;
  cursor: pointer;

  &.rotate-down {
    transform: rotate(90deg);
    transition: transform 0.1s linear;
  }

  &.rotate-up {
    transform: rotate(0deg);
    transition: transform 0.1s linear;
  }
}

@mixin navigation-row-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px;

  .okp4-header-navigation-row-item {
    margin-left: 10px;
  }
}

@mixin burger-list-container {
  grid-template-rows: auto 1fr;
  background-color: themed('header-navigation-background');
  box-shadow: 10px 10px 10px themed('header-navigation-background');
}

@mixin burger-list {
  margin: 10px 0 10px 10px;
  animation: fadeIn 1s;

  .okp4-header-navigation-burger-item {
    margin-top: 20px;
  }
}

.okp4-header-main {
  @include with-theme() {
    display: grid;
    grid-column: 1;
    width: calc(100% - 120px);
    padding: 15px 60px;
    align-items: center;
    column-gap: 10px;

    @media screen and (max-width: 995px) {
      width: calc(100% - 60px);
      padding: 15px 30px;
    }

    @media screen and (max-width: 768px) {
      width: calc(100% - 30px);
      padding: 15px;
    }

    .okp4-header-theme-switcher-container {
      justify-self: flex-end;
    }

    &.with-first-element {
      grid-template-columns: auto auto;

      @media screen and (max-width: 768px) {
        justify-content: space-evenly;
      }

      @media screen and (max-width: 360px) {
        grid-template: 1fr 1fr / 1fr;
      }

      .okp4-header-first-element {
        @include first-element;
      }

      .okp4-header-theme-switcher-container {
        grid-column: 2;

        @media screen and (max-width: 360px) {
          grid-area: 2 / 1;
          justify-self: center;
        }
      }
    }

    &.with-navigation {
      grid-template-columns: 2fr 1fr;

      &.burger-list {
        @include burger-list-container;

        .okp4-header-navigation-burger-list {
          @include burger-list;
          grid-area: 2 / 1 / 2 / 3;
        }
      }

      .okp4-header-navigation-burger-menu {
        @include burger-menu;
      }

      .okp4-header-navigation-row-list {
        @include navigation-row-list;
        grid-column: 1;
      }

      .okp4-header-theme-switcher-container {
        grid-column: 2;
      }
    }

    &.with-first-element-and-navigation {
      grid-template-columns: auto 2fr 1fr;

      @media screen and (max-width: 995px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .okp4-header-first-element {
        @include first-element;

        @media screen and (max-width: 995px) {
          grid-area: 1 / 2;
          justify-self: center;
        }
      }

      &.burger-list {
        @include burger-list-container;

        .okp4-header-navigation-burger-list {
          @include burger-list;
          grid-area: 2 / 1 / 2 / 4;
        }
      }

      .okp4-header-navigation-burger-menu {
        @include burger-menu;
      }

      .okp4-header-navigation-row-list {
        @include navigation-row-list;
        grid-area: 1 / 2;
      }

      .okp4-header-theme-switcher-container {
        grid-column: 3;
      }
    }
  }
}
