$sizes: (
  'x-small': 200px,
  'small': 300px,
  'medium': 350px,
  'large': 450px,
  'x-large': 550px,
  'auto': auto
);

.okp4-text-field-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;

  @each $size-key, $size-value in $sizes {
    &.#{$size-key} {
      width: $size-value;

      &.full-width {
        width: 100%;
      }
    }
  }
}
