@import 'src/ui/styles/themes';

$background-colors: ('success', 'error', 'warning', 'info');

.okp4-toast-viewport {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 10000;
  outline: none;

  @media screen and (max-width: 460px) {
    width: auto;
  }

  .okp4-toast-root {
    @include with-theme() {
      @each $background-color in $background-colors {
        &.#{$background-color} {
          background-color: themed($background-color);
        }
      }
      border-radius: 6px;
      box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
      padding: 15px;
      display: grid;
      row-gap: 3px;
      position: relative;

      &[data-state='open'] {
        animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
      }

      &[data-state='closed'] {
        animation: swipeOut 150ms ease-in forwards;
      }

      &[data-swipe='move'] {
        transform: translateX(var(--radix-toast-swipe-move-x));
      }

      &[data-swipe='cancel'] {
        transform: translateX(0);
        transition: transform 200ms ease-out;
      }

      &[data-swipe='end'] {
        animation: swipeOut 100ms ease-out forwards;
      }

      .okp4-toast-close {
        all: unset;
        cursor: pointer;
        position: absolute;
        justify-self: end;

        .okp4-toast-container-close {
          display: grid;
          align-items: end;
          width: 25px;
          height: 25px;
        }
      }

      .okp4-toast-float {
        float: right;
        width: 10px;
        height: 1px;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + 25px));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(100% + 25px));
  }
}
