@mixin undetermined($base, $middle: $base, $time: 1s) {
  animation: name $time linear infinite alternate;
  @keyframes name {
    from {
      left: 0%;
      width: $base;
    }

    50% {
      left: calc((100% - $middle) / 2);
      width: $middle;
    }

    to {
      left: 100% - $base;
      width: $base;
    }
  }
}
@mixin bounce-animation() {
  @keyframes bounce {
    20%,
    50%,
    80%,
    to {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-20px);
    }

    70% {
      transform: translateY(-10px);
    }

    90% {
      transform: translateY(-4px);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hover-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-3px);
  }
}
