@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono:light,normal,medium,bold,black');

.okp4-font-size {
  &.x-small {
    font-size: 12px;
  }

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 26px;
  }

  &.large {
    font-size: 34px;
  }

  &.x-large {
    font-size: 40px;
  }
}
