/**
* Blue stone theme
**/

// Primary colors
$color-dark-primary-brand: #1f4799;
$color-dark-primary-variant: #395180;
$color-dark-primary-invariant: #ced2d9;

// Secondary colors
$color-dark-secondary-button: #293d66;
$color-dark-secondary-selected: #4d6699;
$color-dark-secondary-invariant: #181c49;

// Neutral colors
$color-dark-text: #ced2d9;
$color-dark-highlighted-text: white;
$color-dark-inverted-text: #181c49;
$color-dark-field: #13264d;
$color-dark-border: #395180;
$color-dark-background: #0f224a;
$color-dark-background-variant: #0f1e3d;

// Semantic colors
$color-dark-success: #15cc86;
$color-dark-warning: #fb6800;
$color-dark-error: #e62331;
$color-dark-info: #cecfd9;
$color-dark-disabled: #999999;

// Gradients
$gradient-dark-background-header: transparent linear-gradient(180deg, #0c1529 0%, #0f224a 100%) 0%
  0% no-repeat padding-box;
$gradient-dark-background-footer: transparent linear-gradient(180deg, #102040 0%, #061126 100%) 0%
  0% no-repeat padding-box;
$gradient-dark-background-footer-block: transparent
  linear-gradient(180deg, #5678be 0%, #122a59 100%) 0% 0% no-repeat padding-box;

/**
* Clear stone theme
**/

// Primary colors
$color-light-primary-brand: #fb6700;
$color-light-primary-variant: #867a62;
$color-light-primary-invariant: #ced2d9;

// Secondary colors
$color-light-secondary-button: #293d66;
$color-light-secondary-selected: #966a13;
$color-light-secondary-invariant: #181c49;

// Neutral colors
$color-light-text: #181c49;
$color-light-highlighted-text: #493918;
$color-light-inverted-text: #ced2d9;
$color-light-field: #d8d0c6;
$color-light-border: #ccc2b4;
$color-light-background: white;
$color-light-background-variant: #493918;
$color-light-background-footer-block: #e8e2da;

// Semantic colors
$color-light-success: #15cc86;
$color-light-warning: #fb6800;
$color-light-error: #e62331;
$color-light-info: #877b65;
$color-light-disabled: #999999;

// Gradients
$gradient-light-background-header: transparent linear-gradient(180deg, #faf8f4 0%, white 100%) 0% 0%
  no-repeat padding-box;
$gradient-light-background-footer: transparent linear-gradient(212deg, #181c49 0%, #343869 100%) 0%
  0% no-repeat padding-box;
