// White color variables

$color-pure-white: #ffffff;

// Blue color variables

$color-lavander-blue: #d4d7f5;
$color-sapphire-blue: #545baa;
$color-azure-blue: #222c96;
$color-space-blue: #181c49;
$color-denim-blue: #13173c;

// Gray color variables

$color-cloud-gray: #cecfd9;
$color-metal-gray: #00000040;
