@import '../../styles/themes.scss';

.okp4-calendar-main {
  width: 250px;
  height: 250px;
  display: grid;
  row-gap: 5px;

  .okp4-calendar-header {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 40px 1fr 40px 40px;
    grid-template-areas:
      'previousYear previousMonth year nextMonth nextYear'
      'previousYear previousMonth month nextMonth nextYear';
    justify-items: center;
    align-items: center;
  }

  .okp4-calendar-year {
    grid-area: year;
    align-self: flex-end;
  }

  .okp4-calendar-month {
    grid-area: month;
    align-self: flex-start;
  }

  .okp4-calendar-previous-year {
    grid-area: previousYear;
  }

  .okp4-calendar-next-year {
    grid-area: nextYear;
  }

  .okp4-calendar-previous-month {
    grid-area: previousMonth;
  }

  .okp4-calendar-next-month {
    grid-area: nextMonth;
  }

  .okp4-calendar-day-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
  }

  .okp4-calendar-content {
    display: grid;
    row-gap: 5px;

    .okp4-calendar-week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      column-gap: 5px;
    }

    .okp4-calendar-day-container {
      display: flex;
      width: 35px;
      height: 35px;
      align-items: center;
      justify-items: center;
      border-radius: 100%;
      @include with-theme {
        &:hover {
          cursor: pointer;
          background: themed(field);
        }

        &.selected {
          background: themed(secondary-selected);
        }
      }

      .okp4-calendar-day {
        margin: auto;
      }
    }
  }
}
