.okp4-language-switcher-main {
  display: grid;
  justify-content: start;
  min-width: 240px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));

  @media screen and (max-width: 480px) {
    grid-template-columns: none;
    justify-content: center;
  }

  .okp4-languages {
    justify-self: center;
  }

  .okp4-language-container {
    display: grid;
    grid-auto-flow: column;

    .okp4-language {
      justify-self: center;
      margin: 0 10px;
      cursor: pointer;

      &.is-selected {
        opacity: 0.5;
      }
    }
  }
}
