.okp4-language-switcher-main {
  display: grid;
  grid-template-areas: 'languages language language';
  @media screen and (max-width: 480px) {
    justify-items: center;
    grid-template-areas:
      'languages'
      'language'
      'language';
  }

  .okp4-languages-translation {
    grid-area: languages;
  }

  .okp4-language-container {
    display: flex;
    align-items: center;

    .okp4-language {
      grid-area: language;
      margin: 0 10px;
      cursor: pointer;

      &.is-selected {
        opacity: 0.5;
      }
    }
  }
}
