@import '../../styles/themes.scss';

$colors: (
  'active': 'text',
  'disabled': 'field',
  'error': 'error',
  'completed': 'success',
  'uncompleted': 'primary-variant'
);

.okp4-step-main {
  width: 100%;
  padding: 2px;
  display: grid;
  align-items: flex-end;
  // cursor: pointer;
  @media screen and (max-width: 768px) {
    grid-template-columns: 15px auto;
    grid-template-areas: 'state label';
  }

  @include with-theme {
    .okp4-step-label {
      @media screen and (max-width: 768px) {
        grid-area: label;
        text-align: start;
      }
      text-align: center;
      padding: 5px;
      @each $color-key, $color-value in $colors {
        &.#{$color-key} {
          div {
            color: themed($color-value);
          }
        }
      }
    }

    .okp4-step-state {
      @media screen and (max-width: 768px) {
        grid-area: state;
        height: 100%;
        width: 5px;
      }
      @media screen and (min-width: 768px) {
        height: 5px;
      }
      border-radius: 50px;

      @each $color-key, $color-value in $colors {
        &.#{$color-key} {
          background: themed($color-value);
        }
      }
    }
  }
}

.okp4-stepper-main {
  width: 100%;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  @media screen and (max-width: 768px) {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'steps content'
      'buttons buttons';
  }
  @media screen and (min-width: 768px) {
    grid-template-areas:
      'steps'
      'content'
      'buttons';
  }

  .okp4-stepper-steps {
    grid-area: steps;
    @media screen and (min-width: 768px) {
      display: flex;
      width: 100%;
    }
  }

  .okp4-stepper-content {
    grid-area: content;
    width: 100%;
    padding: 2px;

    &.error {
      @include with-theme() {
        border: solid themed(error);
      }
    }
  }

  .okp4-stepper-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;

    &--previous {
      align-self: flex-start;
    }

    &--next {
      align-self: flex-end;
    }
  }
}
