@import '../../styles/themes.scss';

$colors: (
  'active': 'text',
  'disabled': 'disabled',
  'invalid': 'error',
  'completed': 'success',
  'uncompleted': 'primary-variant'
);

.okp4-stepper-main {
  @include with-theme() {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 15px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'body';

    .okp4-stepper-header {
      grid-area: header;
      @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
      }

      .okp4-stepper-progress {
        width: 100%;
        padding: 2px;
        display: grid;
        align-items: flex-end;

        .okp4-stepper-step-label {
          text-align: center;
          padding: 5px;
          @each $color-key, $color-value in $colors {
            &.#{$color-key} {
              div {
                color: themed($color-value);
              }
            }
          }
        }

        .okp4-stepper-step-states-mobile {
          display: flex;
          gap: 2px;
        }

        .okp4-stepper-step-state {
          width: 100%;
          height: 5px;
          border-radius: 50px;

          @each $color-key, $color-value in $colors {
            &.#{$color-key} {
              background: themed($color-value);
            }
          }
        }
      }
    }

    .okp4-stepper-body {
      @include background-opacity(themed('tertiary-background'), 0.3);
      grid-area: body;
      max-width: 100%;
      overflow-y: auto;
      display: grid;
      row-gap: 15px;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        'content'
        'buttons';
      padding: 20px;
      box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;

      &.error {
        border: solid themed(error);
      }

      .okp4-stepper-step-content {
        grid-area: content;
        overflow-y: auto;
        width: 100%;
        padding: 2px;
      }

      .okp4-stepper-buttons {
        grid-area: buttons;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: flex-end;
      }
    }
  }
}
