@import '../../styles/themes.scss';

.okp4-footer-main {
  @include with-theme() {
    background: themed(footer-background);
    width: calc(100% - 80px);
    min-height: 40px;
    padding: 45px 20px 45px 60px;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;

    @media screen and (max-width: 768px) {
      padding: 25px 10px;
      width: calc(100% - 20px);
    }

    a {
      text-decoration: unset;
      color: inherit;
    }
  }
}
