@import 'src/ui/styles/themes.scss';

/**
 * Code snippet with background linear gradients found at:
 * https://stackoverflow.com/questions/7324722/cut-corners-using-css
 * Approach is effective at rendering beveled corners with borders.
 *
 * The bevel can alternatively be drawn with an after pseudo class. 
 * However, the border of the div in the beveled corner is not hidden. 
 * Example code found at:
 * https://blog.logrocket.com/how-to-create-fancy-corners-in-css/
 */

$colors: ('primary-background', 'secondary-background', 'header-background', 'footer-background');
$borders-colors: ('white', 'transparent');

.okp4-card-main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.okp4-card-small {
    width: 275px;
    height: 235px;
  }

  &.okp4-card-medium {
    width: 425px;
    height: 235px;
  }

  &.okp4-card-large {
    width: 653px;
    height: 550px;
  }

  &.okp4-card-beveled {
    @include with-theme() {
      @each $color in $colors {
        @each $borders-color in $borders-colors {
          &.okp4-card-beveled-#{$color}-#{$borders-color} {
            --b: #{$borders-color};
            --all: 0; // i.e. 0px
            --top-left: 21px;
            border: 1px solid var(--b);
            background:
              linear-gradient(45deg, var(--b) 0 0, transparent 0) bottom left /50% 50%,
              linear-gradient(-45deg, var(--b) 0 0, transparent 0) bottom right/50% 50%,
              linear-gradient(135deg, var(--b) 0 calc(var(--top-left) + 1px), transparent 0) top left    /50% 50%,
              linear-gradient(-135deg, var(--b) 0 0 , transparent 0) top right   /50% 50%,
              var(--img, themed(#{$color}));
            background-origin: border-box;
            background-repeat: no-repeat;
            -webkit-mask:
              linear-gradient(45deg, transparent 0 var(--bottom-left, var(--all)), white 0) bottom left,
              linear-gradient(-45deg, transparent 0 var(--bottom-right, var(--all)), white 0) bottom right,
              linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), white 0) top left,
              linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), white 0) top right;
            -webkit-mask-size: 50.5% 50.5%;
            -webkit-mask-repeat: no-repeat;
          }
        }
      }
    }
  }
}
