@import 'src/ui/styles/themes.scss';

$colors: ('primary': 'primary-background', 'secondary': 'footer-block-background');
$has-border-values: ('true', 'false');

$small-width: 275px;
$medium-width: 425px;
$large-width: 653px;
$small-height: 235px;
$medium-height: 235px;
$large-height: 550px;  

.okp4-card-wrapper {
  @include with-theme() {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    clip-path:          polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
    -webkit-clip-path:  polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);

    --small-width: #{$small-width};
    --medium-width: #{$medium-width};
    --large-width: #{$large-width};
    --small-height: #{$small-height};
    --medium-height: #{$medium-height};
    --large-height: #{$large-height};
    
    &.small {
      width: var(--small-width);
      height: var(--small-height);
    }

    &.medium {
      width: var(--medium-width);
      height: var(--medium-height);
    }

    &.large {
      width: var(--large-width);
      height: var(--large-height);
    }

    &.border {
      background: themed(border);
    }
  }
}

.okp4-card-container {
  @include with-theme() {
    @each $color-key, $color-value in $colors {
      position: absolute;
      top: 1px;
      left: 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      --small-width: #{$small-width};
      --medium-width: #{$medium-width};
      --large-width: #{$large-width};
      --small-height: #{$small-height};
      --medium-height: #{$medium-height};
      --large-height: #{$large-height};
  
      &.small {
        width: calc(var(--small-width) - 2px);
        height: calc(var(--small-height) - 2px);
      }
    
      &.medium {
        width: calc(var(--medium-width) - 2px);
        height: calc(var(--medium-height) - 2px);
      }
    
      &.large {
        width: calc(var(--large-width) - 2px);
        height: calc(var(--large-height) - 2px);
      }  
    
      clip-path:          polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
      -webkit-clip-path:  polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);

      &.#{$color-key} {
        background: themed(#{$color-value});
      }
    }  
  }
}
