@import '../../styles/themes.scss';
@import '../../styles/animations.scss';

.okp4-listitem-main {
  @include with-theme {
    background-color: themed(inverted-primary-background);
    display: grid;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    overflow: auto;

    &.clickable:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px themed(primary-brand);
      animation: 0.2s ease-out hover-animation forwards;
    }

    .okp4-listitem-title {
      grid-area: title;
    }

    .okp4-listitem-description {
      grid-area: description;
    }

    .okp4-listitem-first-element {
      grid-area: firstElement;
    }

    .okp4-listitem-last-element {
      grid-area: lastElement;
    }

    &.layout-list {
      grid-template-columns: minmax(35px, auto) minmax(140px, 1fr) minmax(35px, auto);
      grid-template-areas: 'firstElement title lastElement';

      &.with-description {
        grid-template-rows: min-content 1fr;
        grid-template-areas:
          'firstElement title lastElement'
          'firstElement description lastElement';
      }
    }

    &.layout-grid {
      grid-template-columns: 5fr 2fr;
      grid-template-areas:
        'title firstElement'
        'lastElement lastElement';

      &.with-description {
        grid-template-areas:
          'title firstElement'
          'description description'
          'lastElement lastElement';
      }

      .okp4-listitem-first-element {
        display: grid;
        justify-items: right;
        text-align: right;
      }

      .okp4-listitem-last-element {
        align-self: end;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .okp4-listitem-main.layout-list {
    padding: 10px 2px;
    column-gap: 6px;
  }
}
