@import '../../styles/themes.scss';

.okp4-listitem-main {
  display: grid;
  column-gap: 10px;
  padding: 10px;
  align-items: center;
  grid-template-columns: minmax(30px, 8%) auto auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'firstElement title lastElement'
    'firstElement description lastElement';

  @include with-theme {
    background-color: themed(inverted-primary-background);
    border-radius: 10px;
  }

  .okp4-listitem-title {
    grid-area: title;
    justify-content: start;
    margin: 3px;
  }

  .okp4-listitem-description {
    grid-area: description;
    justify-content: start;
    margin: 3px;
  }

  .okp4-listitem-first-element {
    grid-area: firstElement;
    margin: 5px auto 5px 5px;
  }

  .okp4-listitem-last-element {
    grid-area: lastElement;
    margin: 5px 5px 5px auto;
  }
}
