.core {
  height: auto;

  &.large {
    &.logo {
      width: 320px;
    }

    &.logotype {
      width: 160px;
    }

    &.logomark,
    &.slogan {
      width: 280px;
    }
  }

  &.medium {
    &.logo {
      width: 270px;
    }

    &.logotype {
      width: 120px;
    }

    &.logomark,
    &.slogan {
      width: 220px;
    }
  }

  &.small {
    &.logo {
      width: 220px;
    }

    &.logotype {
      width: 80px;
    }

    &.logomark,
    &.slogan {
      width: 160px;
    }
  }
}
