@import 'src/ui/styles/themes.scss';

$colors: ('text', 'highlighted-text', 'success', 'warning', 'error', 'info');
$families: ('secondary', 'brand');
$weights: (
  'light': 300,
  'normal': 400,
  'bold': 700,
  'black': 900
);

.okp4-text-main {
  @include with-theme() {
    line-height: 1.6em;

    &.text-wrap-disabled {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @each $color in $colors {
      &.text-color-#{$color} {
        color: themed(#{$color});
      }
    }

    @each $family in $families {
      @each $weight-key, $weight-value in $weights {
        &.#{$family}-#{$weight-key} {
          @if ($family == 'secondary') {
            font-family: 'Noto Sans Mono';
          } @else {
            @if ($weight-value == 900) {
              font-family: 'Gotham black';
            } @else {
              font-family: 'Gotham';
            }
          }
          font-weight: $weight-value;
        }
      }
    }
  }
}
