@import 'ui/styles/themes.scss';

div {
  .sbdocs.sbdocs-preview {
    overflow: visible;
    .docs-story {
      overflow: visible;
      > div:first-child {
        overflow: visible;
      }
      > div:nth-child(2) {
        bottom: 10px;
      }
    }
  }
}

.header-story-main {
  @include with-theme {
    width: 100%;
    min-width: 310px;
    background: themed('header-background');

    .okp4-header-first-element {
      svg {
        @media screen and (max-width: 995px) {
          width: 170px;
          height: 48px;
        }
      }
    }

    a {
      color: themed('inverted-primary-background');
      text-decoration: none;
      color: themed('text');
    }
  }
}
