@import '../../../../src/ui/styles/themes.scss';

.icon-card {
  @include with-theme() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: themed('field');
    border-radius: 10px;
    min-height: 100px;
    :last-child {
      margin: 0;
    }
  }
}

.rotate-microphone {
  transform: rotate(315deg);
}

.rotate-90deg {
  transform: rotate(90deg);
}

.rotate-180deg {
  transform: rotate(180deg);
}

.rotate-270deg {
  @include with-theme() {
    transform: rotate(270deg);
    background: themed('primary-brand');
    border-radius: 10px;
  }
}

.bouncing-chat {
  position: relative;
  animation: 1.2s ease-out bounce infinite;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(-4px);
  }
}
