@import '../../styles/themes.scss';

$background-colors: (
  'primary': 'primary-brand',
  'secondary': 'secondary-button',
  'success': 'success',
  'warning': 'warning',
  'error': 'error',
  'info': 'info'
);

.okp4-button-main {
  @include with-theme {
    cursor: pointer;
    border: unset;
    min-height: 40px;

    min-width: 65px;
    max-width: 273px;
    overflow: hidden;

    &.variant-secondary {
      border-radius: 50%;
    }

    @each $background-color-key, $background-color-value in $background-colors {
      &.background-color-#{$background-color-key} {
        background: themed($background-color-value);
      }
    }

    &.disabled {
      cursor: not-allowed;
      background: themed('disabled');
    }

    &.size-small {
      padding: 4px 10px;

      &.icon {
        padding: 7px;
      }
    }

    &.size-medium {
      padding: 6px 16px;

      &.icon {
        padding: 10px;
      }
    }

    &.size-large {
      padding: 8px 22px;

      &.icon {
        padding: 17px;
      }
    }

    &.icon {
      min-height: unset;
      min-width: unset;
      max-width: unset;
      font-size: 0;
      border-radius: 50%;
    }

    .okp4-button-label {
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
      justify-content: space-around;
      align-items: center;
    }
  }
}
