@import '../../styles/themes.scss';

$background-colors: (
  'primary': 'primary-brand',
  'secondary': 'secondary-button',
  'success': 'success',
  'warning': 'warning',
  'error': 'error',
  'info': 'info'
);

.okp4-button-main {
  @include with-theme {
    cursor: pointer;
    text-decoration: unset;
    border: unset;
    min-height: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 65px;
    max-width: 273px;
    overflow: hidden;

    &.variant-secondary {
      border-radius: 50px;
    }

    @each $background-color-key, $background-color-value in $background-colors {
      &.background-color-#{$background-color-key} {
        background: themed('cosmos-header-background');
      }
    }

    &.disabled {
      cursor: not-allowed;
      background: themed('disabled');
    }

    &.size-small {
      padding: 4px 10px;
    }

    &.size-medium {
      padding: 6px 16px;
    }

    &.size-large {
      padding: 8px 22px;
    }
  }
}
