$color-one: white;
$color-two: palevioletred;

.core {
  border-radius: 3px;
  border: 2px solid palevioletred;
  margin: 0.5em 1em;
  padding: 0.25em 1em;
  cursor: pointer;

  &.normal {
    background: $color-one;
    color: $color-two;

    &:hover {
      background: $color-two;
      color: $color-one;
    }
  }

  &.primary {
    background: $color-two;
    color: $color-one;

    &:hover {
      background: $color-one;
      color: $color-two;
    }
  }

  &.small {
    font-size: 10px;
  }

  &.medium {
    font-size: 14px;
  }

  &.large {
    font-size: 18px;
  }
}
