@import 'ui/styles/themes.scss';

.component-story-main {
  @include with-theme {
    padding: 20px 30px 35px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: themed('header-background');

    &.language-switcher {
      background: themed('footer-background');
    }
  }
}
