@import 'ui/styles/themes.scss';

.component-story-main {
  @include with-theme {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: themed('header-background');

    &.language-switcher {
      background: themed('footer-background');
    }

    .high-contrast-component-background {
      background: themed('inverted-field');
    }
  }
}

.story-theme-switcher {
  padding: 5px 15px 13px;
}
