name: Build

on:
  workflow_call:

  push:
    branches: [main]

  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build-yarn:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Setup node environment (for building)
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.1

      - name: Fetch dependencies
        run: |
          yarn

      - name: Build project
        run: |
          yarn build

      - name: Build Storybook
        run: |
          yarn build-storybook
