@import 'ui/styles/themes.scss';

.text-story-main {
  @include with-theme {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: themed('header-background');
  }
}
